@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>
<h3>Burası kendi oluşturuğumuz view sayfasıdır.</h3>
<table>
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Departman</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Murat</td>
        <td>Yazılım</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Ayşe</td>
        <td>Analist</td>
    </tr>
</table>